# PlanAhead Generated IO constraints 
NET "CLK" IOSTANDARD = LVCMOS33;

NET "VGA_CLK" IOSTANDARD = LVCMOS33;
NET "VGA_HSYC" IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;

NET "VGA_BLUE[7]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[6]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[5]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[4]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[3]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[2]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[1]" IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[0]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[7]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[6]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[5]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[4]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[3]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[2]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[1]" IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[0]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[7]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[6]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[5]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[4]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[3]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[2]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[1]" IOSTANDARD = LVCMOS33;
NET "VGA_RED[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
NET "CLK" LOC = M9;

NET "VGA_CLK" LOC = E11;
NET "VGA_VSYNC" LOC = P15;
NET "VGA_HSYC" LOC = N16;

NET "VGA_BLUE[0]" LOC = M13;
NET "VGA_BLUE[1]" LOC = L13;
NET "VGA_BLUE[2]" LOC = L14;
NET "VGA_BLUE[3]" LOC = J14;
NET "VGA_BLUE[4]" LOC = H13;
NET "VGA_BLUE[5]" LOC = G14;
NET "VGA_BLUE[6]" LOC = E13;
NET "VGA_BLUE[7]" LOC = D14;
NET "VGA_GREEN[6]" LOC = M16;
NET "VGA_GREEN[5]" LOC = M15;
NET "VGA_GREEN[4]" LOC = L16;
NET "VGA_GREEN[7]" LOC = N14;
NET "VGA_GREEN[2]" LOC = K16;
NET "VGA_GREEN[0]" LOC = J16;
NET "VGA_GREEN[3]" LOC = K14;
NET "VGA_GREEN[1]" LOC = K15;
NET "VGA_RED[7]" LOC = H14;
NET "VGA_RED[6]" LOC = H16;
NET "VGA_RED[5]" LOC = H15;
NET "VGA_RED[4]" LOC = G16;
NET "VGA_RED[2]" LOC = F16;
NET "VGA_RED[0]" LOC = E16;
NET "VGA_RED[3]" LOC = F14;
NET "VGA_RED[1]" LOC = F15;
