//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 03 16:20:05 2022
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_GREEN<6>" LOCATE = SITE "M16" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "N16" LEVEL 1;
COMP "VGA_GREEN<7>" LOCATE = SITE "N14" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "P15" LEVEL 1;
COMP "VGA_CLK" LOCATE = SITE "E11" LEVEL 1;
COMP "VGA_RED<0>" LOCATE = SITE "E16" LEVEL 1;
COMP "VGA_RED<1>" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_BLUE<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "VGA_RED<2>" LOCATE = SITE "F16" LEVEL 1;
COMP "VGA_BLUE<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "VGA_RED<3>" LOCATE = SITE "F14" LEVEL 1;
COMP "VGA_BLUE<2>" LOCATE = SITE "L14" LEVEL 1;
COMP "VGA_RED<4>" LOCATE = SITE "G16" LEVEL 1;
COMP "VGA_BLUE<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "VGA_GREEN<0>" LOCATE = SITE "J16" LEVEL 1;
COMP "VGA_RED<5>" LOCATE = SITE "H15" LEVEL 1;
COMP "VGA_BLUE<4>" LOCATE = SITE "H13" LEVEL 1;
COMP "VGA_GREEN<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "VGA_RED<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "VGA_BLUE<5>" LOCATE = SITE "G14" LEVEL 1;
COMP "VGA_GREEN<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "VGA_RED<7>" LOCATE = SITE "H14" LEVEL 1;
COMP "VGA_BLUE<6>" LOCATE = SITE "E13" LEVEL 1;
COMP "VGA_GREEN<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "VGA_BLUE<7>" LOCATE = SITE "D14" LEVEL 1;
COMP "CLK" LOCATE = SITE "M9" LEVEL 1;
COMP "VGA_GREEN<4>" LOCATE = SITE "L16" LEVEL 1;
COMP "VGA_GREEN<5>" LOCATE = SITE "M15" LEVEL 1;
SCHEMATIC END;

