NET "CLK" 				LOC = M9 | IOSTANDARD = LVCMOS33;

NET "VGA_CLK" 			LOC = E11 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC" 		LOC = P15 | IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" 		LOC = N16 | IOSTANDARD = LVCMOS33;
	
NET "VGA_BLUE[0]" 	LOC = M13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[1]" 	LOC = L13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[2]" 	LOC = L14 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[3]" 	LOC = J14 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[4]" 	LOC = H13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[5]" 	LOC = G14 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[6]" 	LOC = E13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE[7]" 	LOC = D14 | IOSTANDARD = LVCMOS33;

NET "VGA_GREEN[0]" 	LOC = J16 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[1]" 	LOC = K15 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[2]" 	LOC = K16 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[3]" 	LOC = K14 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[4]" 	LOC = L16 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[5]" 	LOC = M15 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[6]" 	LOC = M16 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN[7]" 	LOC = N14 | IOSTANDARD = LVCMOS33;

NET "VGA_RED[0]" 		LOC = E16 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[1]" 		LOC = F15 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[2]" 		LOC = F16 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[3]" 		LOC = F14 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[4]" 		LOC = G16 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[5]" 		LOC = H15 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[6]" 		LOC = H16 | IOSTANDARD = LVCMOS33;
NET "VGA_RED[7]" 		LOC = H14 | IOSTANDARD = LVCMOS33;








